{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    
    {% for value in allProducts %}
        <div class="row linha" id="showProduct">
            <div class="pic-price col-4">
                <img class="img-fluid" src="{{value.picture}}" alt="foto" style="width:100%;">
                <h6>R${{value.price}}</h6>
            </div>
            <div class="dataStore col-8">
                <h4>{{value.name}}</h4>
                <hr>
                <h5 style="font-weight: bolder;">{{value.storeName}}</h5>
                {{value.storeAddress}} <br>
                Tel:{{value.storePhone}}
            </div>
        </div> <br>
        <hr>
    {% endfor %}
    
</div>
{% endblock conteudo %}
