{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>App</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="https://www.obrazul.com.br/"> <img src="{% static 'images/obrazul-logo-bg.png' %}" alt="Logo-Obrazul" id="logo"> </a>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" style="text-align: center;" size="80" placeholder="Produto" id="produto">
        </div>
        <div class="form-inline my-2 my-lg-0">
            <a href="#showProduct"> <button type="button" class="btn btn-outline-success">Buscar</button> </a>
        </div>
    </nav>
    <header>
        <img class="banner" src="{% static 'images/banner_products2.jpg' %}" alt="">
    </header>

    <section id="showProduct">
        <div class="container">
            <div class="container-fluid margin">
                <table class="table table-image">
                    <tbody>
                        {% for value in allProducts %}
                        <tr>
                            <td>
                                <div class="pic-price">
                                    <img class="picProduct" src="{{value.picture}}" alt="foto" style="width:100%;">
                                    <h6>R${{value.price}}</h6>
                                </div>
                            </td>
                            <td>
                                <div class="name">
                                    <h4>{{value.name}}</h4>
                                </div>
                                <hr>
                                <h5 style="font-weight: bolder;">{{value.storeName}}</h5>
                                {{value.storeAddress}}
                                <h6>Tel: {{value.storePhone}}</h6>
                            </td>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <footer>
        <p>Desenvolvido por Miquéias Rihs Oliveira</p>
    </footer>
</body>

</html>