body {
    font-family: 'Roboto', sans-serif;
    background-color: #1A62D6;
}

#logo {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.banner {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    content: block;
}

.notFound {
    margin-left: auto;
    width: min-content;
    text-align: center;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allContent {
    padding-top: 50px;
    padding-bottom: 50px;
}

.displayedContent {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: #F8F9FA;
}

.pic-price {
    margin-left: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bolder;

}

.pic-price h6 {
    margin-top: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: bolder;
    text-align: center;
}

.address {
    font-size: 12px;
}

.dataStore h6 {
    font-size: 20px;
    font-weight: bold;
}

footer {
    padding-bottom: 42px;
    background-color: #F8F8F8;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}